.btn {
    height: auto;
}

.nav-link {
    color: #343a40 !important;
}

.nav-link.active {
    color: white !important;
    background-color: #343a40 !important;
}

.leerdoelGeneral {
    padding: 2rem;
}

.leerdoel {
    padding: 1rem;
    font-family: monospace, monospace;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.offcanvas {
    height: 100%;
}

.canvasContainer {
    color: black;
}

.containerStyle{
    border-bottom: double black;
}