.buttonRow {
    margin-top: 2rem;
    height: 2rem;
}

.btn {
    height: auto;
}

.leerdoel {
    padding: 2rem;
    font-family: monospace, monospace;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.offcanvas {
    height: 50%;
}

.canvasContainer {
    color: black;
}