.carousel-inner {
  display: flex;
}

.row {
  height: auto !important;
}

.btn {
  height: 20px;
}

.carousel-item {
  background-color: white;
}

.span {
  color: white;
}

Nav.Link:active{
  background-color: grey;
}